<div class="login-wrapper">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">

    <h1 class="title">Log in</h1>

    <p class="success" *ngIf="successMessage">
      <fa-icon [icon]="faCheckCircle" class="success__icon"></fa-icon>
      {{ successMessage }}
    </p>
    <!-- LOGIN -->
    <input
      class="field"
      type="text"
      placeholder="login"
      formControlName="username"
      autocomplete="username" />
    <p class="error"
       *ngIf="form.get('username')?.touched && form.get('username')?.hasError('required')">
      Login is required
    </p>

    <!-- PASSWORD -->
    <input
      class="field"
      type="password"
      placeholder="password"
      formControlName="password"
      autocomplete="current-password" />
    <p class="error"
       *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')">
      Password is required
    </p>
    <p class="error"
       *ngIf="error && form.get('password')?.touched">
      {{ error }}
    </p>

    <button
      class="btn"
      type="submit"
      [disabled]="form.invalid">
      <fa-icon [icon]="faSignInAlt" class="btn__icon"></fa-icon>
      Log in
    </button>

    <p class="info">
      Don’t have an account?
      <a routerLink="/register">Register</a>
    </p>
  </form>
</div>
