<div class="timer-wrapper">
  <div class="timer-container">
    <div class="timer-display">
      {{ minutes }}:{{ seconds }}
    </div>
    <div class="buttons">
      <button class="btn" (click)="start()" [disabled]="!!intervalId">
        <fa-icon [icon]="faPlay" class="btn__icon"></fa-icon>
        Start
      </button>
      <button class="btn" (click)="stop()" [disabled]="!intervalId">
        <fa-icon [icon]="faStop" class="btn__icon"></fa-icon>
        Stop
      </button>
    </div>
  </div>

  <div class="task-section">
    <ul class="task-list">
      <li *ngFor="let t of tasks" class="task-item">
        <!-- Button on the left side -->
        <button
          class="task-done-btn"
          [disabled]="t.done"
          (click)="toggleDone(t)">
          <fa-icon [icon]="faCheckCircle"></fa-icon>
        </button>

        <!-- Elastic description -->
        <span class="task-desc">{{ t.description }}</span>
        <!-- Task progress -->
        <span class="task-progress">
          {{ t.currentPomodoroSession }}/{{ t.numberOfPomodoroSessions }}
        </span>
      </li>
    </ul>

    <form class="task-form card" [formGroup]="taskForm" (ngSubmit)="addTask()">
      <input
        class="field"
        formControlName="description"
        placeholder="Task description" />
      <input
        class="field"
        type="number"
        formControlName="numberOfPomodoroSessions"
        placeholder="Sessions"
        min="1" />
      <button class="btn" type="submit" [disabled]="taskForm.invalid">
        <fa-icon [icon]="faPlusCircle" class="btn__icon"></fa-icon>
        Add new task
      </button>
    </form>
  </div>
</div>
