<div class="timer-wrapper">
  <div class="timer-container">
    <div class="timer-display">
      {{ minutes }}:{{ seconds }}
    </div>
    <div class="buttons">
      <button class="btn" (click)="start()" [disabled]="!!intervalId">
        <fa-icon [icon]="faPlay" class="btn__icon"></fa-icon>
        Start
      </button>
      <button class="btn" (click)="stop()" [disabled]="!intervalId">
        <fa-icon [icon]="faStop" class="btn__icon"></fa-icon>
        Stop
      </button>
    </div>
  </div>
</div>
